section {
    margin-bottom: 30px;
}

.img-carousel {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
}

.small-form {
    margin: 0;
}

.form-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(225, 225, 225, 0.7);
    display: none;
}

.form-overlay p {
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.centred {
    text-align: center;
}

.comment-button {
    text-align: center;
}

.thumbnails > li {
    margin-bottom: 1px;
}

.page-header {
    margin-bottom: 10px;
}

.photo-score {
    text-align: center;
    margin: 10px;
    /*line-height: 30px;*/
}
.photo-score p {
    line-height: 30px;
}

.photo-title {
    text-align: center;
    font-style: italic;
    margin: 8px;
    height: 40px; /* four lines */
}

.photo-exif {
    position: absolute;
    margin: 10px;
    display: none;
}

#exif-data-table {
    display: none;
}

.popover-content {
    font-size: 12px;
}

/* override bootstrap */
.popover {
    width: 300px;
}

.badge-first {
    background-color: #D4AF37;
}

.badge-second {
    background-color: #C9C0BB;
}

.badge-third {
    background-color: #CD7F32;
}

.highlight-user {
    background-color: #eeeeee;
}

.badge-hmpc {
    background-position: center;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    font-weight: bold;
    font-size: 190%;
    display: inline-block;
    color: white;
}

/* fix bootstrap blockquote p font-size */
blockquote p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}
