section {
    margin-bottom: 30px;
}

.img-carousel {
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.small-form {
    margin: 0;
}

.centred {
    text-align: center;
}

.comment-button {
    display: block;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

.photo-score {
    text-align: center;
    margin: 10px;
    /*line-height: 30px;*/
}
.photo-score p {
    line-height: 30px;
}

.badge-first {
    background-color: #D4AF37;
}

.badge-second {
    background-color: #C9C0BB;
}

.badge-third {
    background-color: #CD7F32;
}

.highlight-user {
    background-color: #eeeeee;
}