{% extends "base.html" %}
{% block title %}HMPC: About{% endblock %}
{% block nav_about %}active{% endblock %}
{% block content %}

<h4>Rules</h4>
<p>
    A photograph must be taken during the month of the competition to which it
    is being submitted.
</p>

<h4>Comments</h4>
<p>You can add some mark-up to comments using the
    <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>
    format.
</p>

<h4>Idea</h4>
<p>
    Original idea by <a href="http://www.wandering.org.uk">Allan Park</a>, and
    the
    <a href="http://www.wandering.org.uk/monthly/monthly.html">
        first competition</a>.
</p>
<p>Website created by Gary Kerr</p>
{% endblock %}