{% extends "base.html" %}
{% block title %}HMPC: About{% endblock %}
{% block nav_about %}active{% endblock %}
{% block content %}

<h4>Rules</h4>
<p>
    A photograph must be taken during the month of the competition to which it
    is being submitted.
</p>

<h4>Comments</h4>
<p>You can add some mark-up to comments using the
    <a href="http://daringfireball.net/projects/markdown/basics">Markdown</a>
    format.
</p>

<p>
    To add links to your comments, you can either surround the link with angle
    brackets. This input
    <pre>&lt;http://www.bbc.co.uk&gt;</pre>
    will produce this
    <pre><a href="http://www.bbc.co.uk">http://www.bbc.co.uk</a></pre>
</p>
<p>
    Or you can turn text into a link. This input
    <pre>[The BBC](http://www.bbc.co.uk)</pre>
    will produce this
    <pre><a href="http://www.bbc.co.uk">The BBC</a></pre>
</p>
<p>To emphasise words, you can surround words with asterisks, like so:</p>
<pre>*single asterisks*
**double asterisks**
</pre>
<p>
    The submitted comment will then look like the following
    <pre><em>single asterisks</em>
<strong>double asterisks</strong></pre>
</p>
<p>
    There is much more to the markdown format, but this should be sufficient
    for our needs.
</p>


<h4>Idea</h4>
<p>
    Original idea by <a href="http://www.wandering.org.uk">Allan Park</a>, and
    the
    <a href="http://www.wandering.org.uk/monthly/monthly.html">
        first competition</a>.
</p>
<p>Website created by Gary Kerr.</p>
{% endblock %}