{% extends "base.html" %}
{% block title %}Comments{% endblock %}
{% block nav_comments %}active{% endblock %}

{% block content %}

    {% for comment in comments %}
        <blockquote>
            <div class="pull-left" style="margin: 0px 10px 5px 0px;">
                <a class="thumbnail" href="photo/{{comment.photo_id()}}">
                    <img src="{{comment.photo_thumbnail()}}">
                </a>
            </div>
            {{comment.markdown()|safe}}
            <small>
                {{comment.username()}}, {{comment.format_date()}}
                {% if user_id == userid or user.admin %}
                    <span class="pull-right">
                        <a href="/comment/edit/{{comment.key.id()}}">Edit</a>
                    </span>
                {% endif %}
            </small>
        </blockquote>
    {% endfor %}

    <ul class="pager">
        <li class="previous {{more_old}}">
            {% if more_old == 'disabled' %}
                <span>&larr; Older</span>
            {% else %}
                <a href="?start={{after}}">&larr; Older</a>
            {% endif%}
        </li>
        <li class="next {{more_new}}">
            {% if more_new == 'disabled' %}
                <span>Newer &rarr;</span>
            {% else %}
                <a href="?start={{before}}">Newer &rarr;</a>
            {% endif %}
        </li>
    </ul>
{% endblock %}
