{% extends "base.html" %}
{% block title %}Modify Competition{% endblock %}
{% block nav_comps %} active{% endblock %}
{% block content %}

<table class="table table-bordered">
    <tbody>
        <tr>
            <td class="span2"><b>Title</b></td><td>{{title}}</td>
        </tr>
        <tr>
            <td class="span2"><b>Month</b></td><td>{{month}}</td>
        </tr>
        <tr>
            <td class="span2"><b>Year</b></td><td>{{year}}</td>
        </tr>
        <tr>
            <td class="span2"><b>Status</b></td><td>{{status}}</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="span6">
    <form method="post">
        <input type="hidden" name="comp-id" value="{{comp_id}}" />
        <label for="comp-title">New Title (required)</label>
        <input type="text" name="comp-title" id="comp-title" class="span4"
            value="{{title}}" />

        <label for="comp-description">New Description</label>
        <textarea rows="3" class="span6" name="comp-description" id="comp-description">{{description}}</textarea>

        <label for="comp-status">Status</label>
        <select name="comp-status">
            {% for status_id, status_value in status_values %}
                <option value="{{status_id}}"
                    {% if status == status_value %}
                        selected="selected"
                    {% endif %}
                >{{status_value}}</option>
            {% endfor %}
        </select>
        <br />
        <input type="submit" class="btn btn-primary" value="Modify" />
        <a href="/competition/admin" class="btn">Cancel</a>
    </form>
    </div>

    <div class="span4">
    {% if error %}
        <div class="alert alert-error">
            {{error}}
        </div>
    {% endif %}
    </div>
</div>

{% if users %}
<div>
    <h3>Competitors</h3>
    <div class="span6">
    <table class="table">
        <thead>
            <tr>
                <th class="span2">User</th>
                <th class="span2">Submitted scores</th>
                <th class="span2"></th>
            </tr>
        </thead>
        <tbody>
            {% for user, submitted in users %}
            <tr>
                <td>{{user}}</td>
                <td>{{submitted}}</td>
                {% if status == 'Open' %}
                <td>
                    <a href="/photo/delete/{{photos[loop.index0]}}">Delete Photograph</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endif %}


{% endblock %}