{% extends "base.html" %}
{% block title %}Competition: {{month}} {{year}} {% endblock %}

{% block nav_comps %} active{% endblock %}

{% block content %}
    <h4>
        {{comp.title}}
    </h4>
    {% if description %}
        <p>{{description}}</p>
    {% endif %}
    <p>This competition is open to submissions. The photographs are hidden until
     the scoring phase starts.</p>
    <p>Number of photographs submitted so far: {{photo_count}}</p>

    <ul class="thumbnails">
    {% for _ in range(photo_count) %}
        <li class="span2">
            <img id="thumb" src="/static/img/blank.png" class="img-polaroid"/>
        </li>
    {% endfor %}
    </ul>
{% endblock %}