{% extends "base.html" %}
{% block title %}Competition: {{month}} {{year}} {% endblock %}
{% block css%}
<link href="/static/css/lightbox.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav_comps %} active{% endblock %}
{% block content %}

    <h4>
        {{comp.title}}
    </h4>
    <br />

    <ul class="thumbnails">
    {% for photo, title, username, url, thumb, position, total_score in photos %}
        <li class="span2">
            <a href="{{url}}" class="thumbnail" rel="lightbox[comp]"
                title="{{username}}: {{title}}">
                <img id="thumb" src="{{thumb}}" alt="{{title}}" />
            </a>
            <div class="photo-score">
                <b>{{title}}</b>
                <br />
                <span class="label">{{username}}</span>
                <br />
                <b>Position:</b> {{position}}
                <br />
                <b>Score:</b> {{total_score}}
            </div>
        </li>
    {% endfor %}
    </ul>

{% endblock %}

{% block js %}
<script src="/static/js/lightbox.js"></script>
{% endblock %}