{% extends "base.html" %}
{% block title %}Competition: {{month}} {{year}} {% endblock %}
{% block css%}
<link href="/static/css/lightbox.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav_comps %} active{% endblock %}
{% block content %}

    {% if description %}
        <p><strong>Theme:</strong> {{description}}</p>
    {% endif %}

    <ul class="thumbnails">
    {% for photo in photos %}
        <li class="span2">
            <a href="{{photo.url()}}" class="thumbnail" rel="lightbox[comp]"
                title="{{photo.title}} submitted by {{photo.username()}}, position: {{photo.ordinal_position()}}">
                <img id="thumb" src="{{photo.thumb(128)}}" alt="{{photo.title}}" />
            </a>
            <div class="photo-title">
                {{photo.title|default('Untitled', true)|truncate(30)}}
            </div>
        </li>
    {% endfor %}
    </ul>

    <!-- the results -->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="span1">Position</th>
                <th class="span1"><span class="pull-right">Score</span></th>
                <th class="span2">User</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {% for photo in photos %}
                {% if user.username == photo.username() %}
                    <tr class="highlight-user">
                {% else %}
                    <tr>
                {% endif %}
                <td class="centred">
                {% if photo.ordinal_position() == '1st' %}
                    <span class="centred badge badge-first">
                {% elif photo.ordinal_position() == '2nd' %}
                    <span class="centred badge badge-second">
                {% elif photo.ordinal_position() == '3rd' %}
                    <span class="centred badge badge-third">
                {% else %}
                    <span class="centred badge">
                {% endif %}
                {{photo.ordinal_position()}}<span></td>
                <td><span class="pull-right">{{photo.total_score}}</span></td>
                <td>
                    <a href="/user/{{photo.user.id()}}">
                        {{photo.username()}}
                    </a>
                </td>
                <td>{{photo.title}}</td>
                <td class="span2">
                    <a href="/photo/{{photo.key.id()}}">
                    Comments: {{photo.comment_count}}
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block js %}
<script src="/static/js/lightbox.js"></script>
{% endblock %}
