{% extends "base.html" %}
{% block title %}HMPC{% endblock %}
{% block nav_home %}active{% endblock %}
{% block content %}

    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for i, id, url, title, user in photos %}
                {% if i == 0 %}
                    <div class="item active">
                {% else %}
                    <div class="item">
                {% endif %}
                    <a href="/photo/{{id}}">
                    <div class="img-carousel" style="background-image: url({{url}})">
                    </div>
                    </a>
                    <div class="carousel-caption">
                        <p><em>{{title}}</em> by {{user}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="row">
        <div class="span6">
            <h3>Competitions in progress</h3>
            {% for id, title, description, year, month, status in competitions %}
            <h4><a href="competition/{{id}}">{{title}}</a> <small>{{month}} {{year}}</small></h4>
            <p>Status: {{status}}</p>
            <p>{{description}}</p>
            {% endfor %}

            <h3>Recent Results</h3>
            {% for comp, photos in results %}
                <h4>
                    {{comp.title}}
                    <small>
                        <a href="/competition/{{comp.key.id()}}">Full results</a>
                    </small>
                </h4>
                {% for ordinal, klass, score, user in photos %}
                <div class="row">
                    <div class="span1">
                        <span class="badge {{klass}}">{{ordinal}}</span>
                        <span class="pull-right">{{score}}</span>
                    </div>
                    <div class="span4">{{user}}</div>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="span6">
            <h3>Recent Comments</h3>
            {% for text, user, photo_id, date in comments %}
                <div>
                    <blockquote>
                        <p><pre>{{text|e}}</pre></p>
                        <small>{{user}}, {{date}}
                            <span class="pull-right">
                                <a href="/photo/{{photo_id}}">View photo</a>
                            </span>
                        </small>
                    </blockquote>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}