{% extends "base.html" %}
{% block title %}HMPC{% endblock %}
{% block nav_home %}active{% endblock %}
{% block content %}

    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for id, url, title, user in photos %}
                {% if loop.first %}
                    <div class="item active">
                {% else %}
                    <div class="item">
                {% endif %}
                    <a href="/photo/{{id}}">
                    <div class="img-carousel" style="background-image: url({{url}})">
                    </div>
                    </a>
                    <div class="carousel-caption">
                        <p><em>{{title}}</em> by {{user}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>

    <div class="row">
        <div class="span6">
            <h3>Competitions in progress</h3>
            {% for id, title, description, year, month, status in competitions %}
            <h4><a href="competition/{{id}}">{{title}}</a> <small>{{month}} {{year}}</small></h4>
            <p>Status: {{status}}</p>
            <p>{{description}}</p>
            {% endfor %}

            <hr />

            <h3>Recent Results</h3>
            {% for comp, photos in results %}
                <h4>
                    {{comp.title}}
                    <small>
                        <a href="/competition/{{comp.key.id()}}">Full result</a>
                    </small>
                </h4>
                {% for ordinal, klass, score, userid, user in photos %}
                <div class="row">
                    <div class="span1">
                        <span class="badge {{klass}}">{{ordinal}}</span>
                        <span class="pull-right">{{score}}</span>
                    </div>
                    <div class="span4">
                        <a href="/user/{{userid}}">{{user}}</a>
                    </div>
                </div>
                {% endfor %}
            {% endfor %}

            <hr />

            <h3>
                Recent Notes
                <small>
                    <a href="/notes">View all Notes</a>
                </small>
            </h3>
            {% for id, title, text, username, userid, date in notes %}
                <div class="note">
                    <h4>{{title}}</h4>
                    <blockquote>
                        {{text|safe}}
                        <small>
                            <a href="/user/{{userid}}">{{username}}</a>,
                            {{date}}
                        </small>
                    </blockquote>
                </div>
            {% endfor %}
        </div>

        <div class="span6">
            <h3>Recent Comments
                <small>
                    <a href="/comments">View all comments</a>
                </small>
            </h3>
            {% for text, userid, user, photo_id, date in comments %}
                <div>
                    <blockquote>
                        {{text|safe}}
                        <small><a href="/user/{{userid}}">{{user}}</a>, {{date}}
                            <span class="pull-right">
                                <a href="/photo/{{photo_id}}">View photo</a>
                            </span>
                        </small>
                    </blockquote>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div>
        <p>Do you want to view the <a href="/stats">secret scoreboard</a>?</p>
    </div>
{% endblock %}