{% extends "base.html" %}
{% block title %}HMPC{% endblock %}
{% block nav_home %}active{% endblock %}
{% block content %}

    <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
            {% for i, id, url, title, user in photos %}
                {% if i == 0 %}
                    <div class="item active">
                {% else %}
                    <div class="item">
                {% endif %}
                    <a href="/photo/{{id}}">
                    <div class="img-carousel" style="background-image: url({{url}})">
                    </div>
                    </a>
                    <div class="carousel-caption">
                        <p><em>{{title}}</em> by {{user}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
{% endblock %}