{% extends "base.html" %}
{% block title %}Edit Note{% endblock %}

{% block content %}
    <form method="post">
        <label for="note-title">Title</label>
        <input type="text" value="{{note.title}}"
            name="note-title" id="note-title" class="span6">

        <label for="note-text">Text</label>
        <textarea rows="5" class="span9" name="note-text">{{note.text}}</textarea>

        <br />

        <input type="submit" class="btn btn-primary" value="Modify">
        <a href="/note/delete/{{note.key.id()}}" class="btn btn-danger">Delete</a>
        <a href="/notes" class="btn">Cancel</a>
    </form>
{% endblock %}
