{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %}
    <div class="row">
        {% if not hide_form %}
        <div class="span6">
            <p>
                Enter your password in both text boxes.
            </p>
            <form method="post">
                <label for="password">Password</label>
                <input type="password" name="password" id="password"
                class="span4" />

                <label for="password-verify">Verify Password</label>
                <input type="password" name="password-verify" id="password-verify"
                class="span4" />

                <br />

                <button type="submit" class="btn btn-primary">Change Password</button>

            </form>
        </div>
        {% endif %}

        {% if errors %}
        <div class="span5">
            <div class="alert alert-error">
                There were some errors with your request:
                <ul>
                    {% for error in errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
                {% if contact %}
                    <a href="/contact" class="btn">Contact admin</a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}