{% extends "base.html" %}
{% block title %}Photo: {{title}}{% endblock %}

{% block content %}
    <div id="photo">
        <div class="photo-exif">
            <a href="#" class="btn" id="show-exif">
                View EXIF data</a>
        </div>
        <img src="{{url}}" alt="{{title}}" class="img-polaroid" />
    </div>

    <div id="comments">
        <h3>
            Comments
            {% if not comp_closed %}
            <small>No comments until the competition is finished.</small>
            {% endif %}
        </h3>
        {% for comment_id, text, username, user_id, date in comments %}
        <div class="row">
            <blockquote class="span9">
                {{text|safe}}
                <small>{{username}}, {{date}}
                    <!-- did logged in user write this comment -->
                    {% if user_id == userid or user.admin %}
                    <span class="pull-right">
                        <a href="/comment/edit/{{comment_id}}">Edit</a></span>
                    {% endif %}
                </small>
            </blockquote>
        </div>
        {% endfor %}
        {% if not comments %}
            <p>No comments yet</p>
        {% endif %}
    </div>

    {% if user and comp_closed %}
    <div id="new-comment">
        <form method="post">
            <fieldset>
            <legend>Submit a comment</legend>
            <input type="hidden" id="user" name="user" value="{{userid}}" />
            <textarea id="comment-text" name="comment-text" rows="4" class="span9"></textarea>
            <br />
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
            </fieldset>
        </form>
    </div>
    {% endif %}

    <div id="exif-data-table">
        <ul class="unstyled" id="exif-data">
            <li><strong>Make</strong> {{make}}</li>
            <li><strong>Model</strong> {{model}}</li>
            <li><strong>Taken</strong> {{datetime}}</li>
            <li><strong>ISO</strong> {{iso}}</li>
            <li><strong>Exposure</strong> {{exposure_time}}</li>
            <li><strong>Copyright</strong> </li>
        </ul>
    </div>

{% endblock %}

{% block script %}
$(function() {
    $('#photo').mouseenter(function() {
        $('.photo-exif').fadeIn();
    }).mouseleave(function() {
        $('.photo-exif').fadeOut();
    });

    var contents = $('#exif-data-table').html();
    $('#show-exif').popover({
        content: contents,
        html: true,
        title: 'EXIF data',
        //trigger: 'hover'
    }).click(function(e) {
        e.preventDefault();
    });
});
{% endblock %}