{% extends "base.html" %}
{% block title %}Photo: {{title}}{% endblock %}

{% block content %}
    <div id="photo">
        <div class="photo-exif">
            <a href="#" class="btn" id="show-exif">
                View EXIF data
            </a>
        </div>
        <img src="{{url}}" alt="{{title}}" class="img-polaroid" />
    </div>

    {% if delete_my_photo %}
    <div id="delete-photo">
        <p>
        You can delete your extra photo (or, if this is not your photograph,
        you are an admin user):
        <a href="/photo/delete/{{photoid}}" alt="Delete photograph" class="btn btn-danger">
            Delete
        </a>
        </p>
    </div>
    {% endif %}

    <div id="comments">
        <h3>
            Comments
            {% if not can_comment %}
            <small>No comments until the competition is finished.</small>
            {% endif %}
        </h3>
        {% for comment_id, text, username, user_id, date in comments %}
        <div class="row">
            <blockquote class="span9">
                {{text|safe}}
                <small><a href="/user/{{user_id}}">{{username}}</a>, {{date}}
                    <!-- did logged in user write this comment -->
                    {% if user_id == userid or user.admin %}
                    <span class="pull-right">
                        <a href="/comment/edit/{{comment_id}}">Edit</a></span>
                    {% endif %}
                </small>
            </blockquote>
        </div>
        {% endfor %}
        {% if not comments %}
            <p>No comments yet</p>
        {% endif %}
    </div>

    {% if can_comment %}
    <div id="new-comment">
        <form method="post">
            <fieldset>
            <legend>Submit a comment</legend>
            <input type="hidden" id="user" name="user" value="{{userid}}" />
            <textarea id="comment-text" name="comment-text" rows="4" class="span9"></textarea>
            <br />
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
            </fieldset>
        </form>
    </div>
    {% endif %}

    <table style="font-size: 12px;" id="exif-data-table">
        <tr>
            <td><strong>Camera</strong></td>
            <td>{{model}}</td>
        </tr>
        <tr>
            <td><strong>Focal Length</strong></td>
            <td>{{focal_length}}mm</td>
        </tr>
        <tr>
            <td><strong>Shutter Speed</strong></td>
            <td>{{exposure_time}}</td>
        </tr>
        <tr>
            <td><strong>Aperture</strong></td>
            <td>f/{{'%0.1f'|format(aperture)}}</td>
        </tr>
        <tr>
            <td><strong>ISO</strong></td>
            <td>{{iso}}</td>
        </tr>
        <tr>
            <td><strong>Taken</strong></td>
            <td>{{datetime}}</td>
        </tr>
        <tr>
            <td><strong>Copyright</strong></td>
            <td>{{copyright}}</td>
        </tr>
    </table>

{% endblock %}

{% block script %}
$(function() {
    $('#photo').mouseenter(function() {
        $('.photo-exif').fadeIn();
    }).mouseleave(function() {
        $('.photo-exif').fadeOut();
    });

    var contents = $('#exif-data-table').html();
    $('#show-exif').popover({
        content: contents,
        html: true,
        title: 'EXIF data',
        //trigger: 'hover'
    }).click(function(e) {
        e.preventDefault();
    });
});
{% endblock %}