{% extends "base.html" %}
{% block title %}User: {{user.username}}{% endblock %}
{% block css%}
<link href="/static/css/lightbox.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav_user %} active{% endblock %}
{% block content %}

    {% if need_scores %}
        <div class="alert alert-warning">
            Please submit your scores to the following competitions:
                <ul>
                    {% for id, title, month, year in need_scores %}
                        <li><a href="/competition/{{id}}">
                            {{title}}, ({{month}} {{year}})</a>
                        </li>
                    {% endfor %}
                </ul>
        </div>
    {% endif %}

    {% if open_comps_no_photos %}
    <div style="position: relative;">
    <form method="post" action="{{upload_url}}" class="well" id="upload-form"
        enctype="multipart/form-data" accept="image/jpeg">
        <p>
            There are competitions in progress and you haven't submitted a
            photograph for at least one of them. Note that only
            <span class="label">jpg</span> files can be
            submitted.
        </p>
        <div class="clearfix">
            <label for="comp-id">
                Select a competition
            </label>
            <select class="span6" id="comp-id" name="comp-id">
                {% for c in open_comps_no_photos %}
                <option value="{{c.key.id()}}">{{c.title}}</option>
                {% endfor %}
            </select>
            <label for="photo-title">
                Photograph title (optional)
            </label>
            <input class="span6" type="text" name="photo-title" id="photo-title" />
            <label for="photo-submit">
                Browse for file
            </label>
            <input class="span6" id="photo-submit" name="photo-submit"
                type="file" />
        </div>
        <br />
        <input type="submit" class="btn btn-primary" value="Submit" id="upload-photo"/>

        <div class="form-overlay" id="form-overlay">
            <p>Uploading image. Please wait...</p>
        </div>

    </form>
    </div>
    {% endif %}

    {% if not_jpg %}
    <div class="alert alert-error">
        You didn't select a photograph to submit. Try again.
    </div>
    {% endif %}

    {% if submit_success %}
    <div class="alert alert-success">
        You have submitted a photograph for the current competition.
    </div>
    {% endif %}

    {% if not open_comps_no_photos %}
    <div class="alert alert-info">
        There is currently no open competition, or you have submitted a photograph
        to all open competitions.
    </div>
    {% endif %}

    <ul class="thumbnails">
    {% for id, title, photo_url, thumbnail, date, position, score, comp_title in photos %}
        <li class="span3">
            <a href="/photo/{{id}}" class="thumbnail" title="{{title}}">
                <img src="{{thumbnail}}" alt="{{title}}" />
            </a>
            <p>
                <em>{{title}}</em>
                <br />
                {{comp_title}}
                <br />
                {{date}}
                <br />
                {{score}}
                <br />
                {{position}}
            </p>
        </li>
    {% endfor %}
    </ul>

{% endblock %}

{% block script %}
$(function() {
    $('#upload-photo').click(function() {
        $('#form-overlay').fadeIn();
    });
});

{% endblock %}