{% extends "base.html" %}
{% block title %}User: {{user.username}}{% endblock %}
{% block css%}
<link href="/static/css/lightbox.css" rel="stylesheet" type="text/css" />
{% endblock %}
{% block nav_user %}active{% endblock %}
{% block content %}

    {% if open_comps %}
    <form method="post" action="{{upload_url}}" class="well"
        enctype="multipart/form-data" accept="image/jpeg">
        <p>
            There are competitions in progress and you haven't submitted a
            photograph for at least one of them. Note that only
            <span class="label">jpg</span> files can be
            submitted.
        </p>
        <div class="clearfix">
            <label for="comp-id">
                Select a competition
            </label>
            <select id="comp-id" name="comp-id">
                {% for c in open_comps %}
                <option value="{{c.key().id()}}">{{c.title}}</option>
                {% endfor %}
            </select>
            <label for="photo-title">
                Photograph title (optional)
            </label>
            <input class="span6" type="text" name="photo-title" id="photo-title" />
            <label for="photo-submit">
                Browse for file
            </label>
            <input class="span6" id="photo-submit" name="photo-submit"
                type="file" />
        </div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
    {% endif %}

    {% if not_jpg %}
    <div class="alert alert-error">
        You didn't select a photograph to submit. Try again.
    </div>
    {% endif %}

    {% if submit_success %}
    <div class="alert alert-success">
        You have submitted a photograph for the current competition.
    </div>
    {% endif %}

    {% if not open_comps %}
    <div class="alert alert-info">
        There is currently no open competition.
    </div>
    {% endif %}

    <ul class="thumbnails">
    {% for id, title, photo_url, thumbnail, date, position, score, comp_title in photos %}
        <li class="span3">
            <a href="/photo/{{id}}" class="thumbnail" title="{{title}}">
                <img src="{{thumbnail}}" alt="{{title}}" />
            </a>
            <p>
                <em>{{title}}</em>
                <br />
                {{comp_title}}
                <br />
                {{date}}
                <br />
                {{score}}
                <br />
                {{position}}
            </p>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
