{% extends "base.html" %}
{% block title %}User: {{user_view.username}}{% endblock %}

{% block content %}

{% if user_view.bio %}
<div id="bio" class="row">
    <div class="span12">
        {% if user and user_view.key.id() == user.key.id() %}
            <div><a href="/user/edit" class="btn">Edit Details</a></div>
            <br />
        {% endif %}
        {{user_view.bio_markdown()|safe}}
    </div>
</div>

<hr />
{% endif %}

<div>
    <ul class="thumbnails">
    {% for photo in photos %}
        <li class="span3">
            <a href="/photo/{{photo.key.id()}}" class="thumbnail" title="{{photo.title}}">
                <img src="{{photo.thumb()}}" alt="{{photo.title}}" />
            </a>
            <p>
                <em>{{photo.title|default('Untitled', true)}}</em>
                <br />
                {{photo.get_competition().title}}
                <br />
                Score: {{photo.total_score}}
                <br />
                Position: {{photo.ordinal_position()}}
            </p>
        </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}

{% block script %}
{% endblock %}